.Card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15vw;
    height: 20vh;
    right: 0;
    margin:1rem;
    display: inline-block;


}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

.ContentCard{
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}